PORT=5000
NODE_ENV=development
MONGODB_USERNAME=
MONGODB_PASSWORD=
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.rrpphau.mongodb.net/margdarshak_ai?retryWrites=true&w=majority
GEMINI_API_KEY=
